.oe_website_login_container {
	width: 100%;
	max-width: 400px;
}

.oe_website_login_container > form {
	margin: 20px;
}

.oe_form_field.oe_form_field_url {
	word-wrap: break-word;
	max-width: 300px;
}

.year_spinner_previous, .year_spinner_next {
	cursor: pointer;
}